.btn-facebook{
    width: 32%;
    background-color: #3b5998;   
    color: #ffffff; 
}

.btn-google{
    width: 32%;
    background-color: #dd4b39;   
    color: #ffffff;   
}

.btn-twitter{
    width: 32%;
    background-color: #55acee;   
    color: #ffffff;   
}